.SearchBar{
    width: 300px;
    height: 60px;
    background-color: #212121;
    border: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SearchBar input{
    font-size: 20px;
    width: 200px;
    height: 60px;
    background-color: transparent;
    outline: 0;
    text-align: left;
    color: white;
    border: 0;
    outline: 0;
    font-weight: bold;
   
}

.SearchBar:focus-within{
    border: 2px solid white;
}

.SearchBtn{
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    width: 80px;
    color: white;
    background-color: #1db954;
    border: none;
    border-radius: 8px;
    transition: background-color 0.12s;
    position: relative;
    
}

.SearchBtn:active{
    background-color: #b3b3b3;
}