.SearchResults{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #212121;
    border-radius: 15px;
    color: white;
    width: 55%;
    height: 95%;
    margin: 0;
    padding: 10px 15px 15px 15px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.search-list{
    overflow-y: scroll;
    height: 90%;
}


.SearchResults h2{
    box-sizing: border-box;
    padding: 10px;
    font-size: 30px;
    color: white;
    margin: 0;
}